.link {
  text-decoration: none;
}

.contact {
  display: grid;
  grid-template: 1fr / minmax(0, 80px) auto;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #adadad;
}
.contact__avatar {
  width: 80px;
  height: 80px;
}
.contact__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  .contact__contentTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    .contact__contentTitleName {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #2e2e2e;
    }
    .contact__contentTitleDate {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      color: #2e2e2e;
    }
  }
  .contact__contentText {
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #adadad;
    }
  }
}

.dot {
  margin-top: 4px;
  height: 5px;
  width: 5px;
  background-color: #0085ff;
  border-radius: 50%;
  display: flex;
  margin-left: 5px;
}

@media (max-width: 992px) {
  .contact {
    grid-template: 1fr / minmax(0, 60px) auto;
  }
  .contact__avatar {
    width: 60px;
    height: 60px;
  }
  .contact__content {
    .contact__contentTitle {
      .contact__contentTitleName {
        font-size: 16px;
      }
      .contact__contentTitleDate {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 0px;
    grid-template: 1fr / minmax(0, 45px) auto;
  }
  .contact__avatar {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 576px) {
  .contact {
    grid-template: 1fr / minmax(0, 80px) auto;
    padding: 10px;
  }
  .contact__avatar {
    width: 80px;
    height: 80px;
  }
  .contact__content {
    .contact__contentTitle {
      .contact__contentTitleName {
        font-size: 20px;
      }
      .contact__contentTitleDate {
        font-size: 16px;
      }
    }
  }
}
