.link {
  text-decoration: none;
}

.contact {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #adadad;
}
.contact__content {
  display: flex;
  flex-direction: column;
  .contact__content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .contact__content-title-name {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #2e2e2e;
    }
    .contact__content-title-date {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      color: #2e2e2e;
    }
  }
  .contact__content-text {
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #adadad;
    }
  }
}

.dot {
  margin-top: 4px;
  height: 5px;
  width: 5px;
  background-color: #0085ff;
  border-radius: 50%;
  display: block;
  margin-left: 5px;
}
