.app_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__wrapper {
  border: 1px solid #adadad;
  height: 100%;
  display: grid;
  grid-template: 1fr / minmax(0px, 400px) auto;
  overflow: hidden;
}
