.message {
  display: flex;
  gap: 16px;
  .message__avatar {
    width: 60px;
    height: 60px;
  }

  .message__content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    .message__items {
      padding: 22px 20px;
      border-radius: 45px;
      color: #fff;
    }
    .message__items--dark {
      background: #3e4255;
    }
    .message__items--light {
      background: #e4e4e4;
      color: black;
    }
    .message__date {
      display: flex;
      font-size: 18px;
      padding: 22px 20px;
      line-height: 22px;
      color: #adadad;
    }
  }
}

.message--start {
  justify-content: start;
}
.message--end {
  justify-content: end;
}

@media (max-width: 576px) {
  .message {
    gap: 8px;
    margin-bottom: 32px;
    word-break: break-all;
    .message__content {
      .message__items {
        border-radius: 16px;
        padding: 16px;
      }
      .message__date {
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}
