.message {
  display: flex;
  gap: 16px;
  .message__avatar {
    width: 100px;
    height: 100px;
    img {
      width: 60px;
      height: 60px;
    }
  }

  .message__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    .message__items {
      padding: 22px 20px;
      border-radius: 45px;
      color: #fff;
    }
    .message__items--dark {
      background: #3e4255;
    }
    .message__items--light {
      background: #e4e4e4;
      color: black;
    }
    .message__date {
      display: flex;
      font-size: 18px;
      padding: 22px 20px;
      line-height: 22px;
      color: #adadad;
    }
  }
}

.message--start {
  justify-content: start;
}
.message--end {
  justify-content: end;
}
